body {
	overflow-y: hidden;
}

.chat {
	margin: 0;
	padding: 0 !important;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.chat-div {
	position: fixed;
	bottom: 0;
	right: 45px;
	z-index: 999999;
}

.panel-default {
	cursor: pointer;
}

.img-circle {
	height: 50px;
	width: 50px;
}

.chat-content {
	word-wrap: break-word;
}

.admin-chats {
	padding: 10px 0;
}

.admin-chats .name-user {
	border: 1px solid #ccc;
	color: #696763;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

.admin-chats-left, .admin-chats-right {
	padding: 5px;
}

.admin-chats-right {
	height: calc(100vh - 20px);
}

.chat-panel {
	height: 80%;
}

.chat-panel .panel-body {
	height: 100%;
}

.admin-chats .users {
	list-style: none;
	margin-bottom: 0;
	max-height: 550px;
	overflow-y: auto;
	padding-left: 0;
}

.admin-chats .users .user {
	border: 1px solid #e7e7e7;
	cursor: pointer;
	display: block;
	padding: 10px 15px;
	display: block;
}

.user-chat-avatar {
	display: inline-block;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

.user-chat-active {
	background-color: #eee;
}