.admin-order-table .tr-href {
	cursor: pointer;
}

.order-actions .btn-order-update {
	float: right;
	margin-right: 10px;
}

.admin-order .order-detail-customer, .admin-order .order-detail-price {
	font-size: 20px;
	font-weight: bold;
}

.admin-order .order-detail-info {
	margin-bottom: 20px;
}

.admin-order .modal-dialog {
	max-width: 90%;
	width: auto;
}

.order-table .order-avatar {
	max-height: 150px;
}

.admin-order-table .center {
	text-align: center;
}

.order-status {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.status-WAITING {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.status-ACCEPT {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.status-REJECT {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.status-CANCEL {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.admin-order .order-product-status {
	border: 1px solid #F7F7F0;	
	border-radius: 2px;	
	padding: 5px;
}

.order-detail-info .order-field {
	margin-bottom: 20px;
}
