.admin-body .row-panel {
	padding-top: 20px;
}

.navbar-static-top .dropdown {
	cursor: pointer;
}

.table.dataTable thead .sorting_desc:after, .table.dataTable thead .sorting_asc:after,
	.table.dataTable thead .sorting:after {
	content: "";
}

.admin-body .input-sm {
	width: auto !important;
}

.not-found-page {
	text-align: center;
}

.not-found-page .not-found-image {
	display: inline-block;
	max-height: 300px;
}

.dropdown-max-entries {
    border: 1px solid #ccc;
    border-radius: 5px;	
	display: inline-block;
	line-height: 25px;
	list-style: none;
	margin-right: 10px;
    padding: 2px;
}

.max-entries {
	margin-right: 5px;
}

.toggle-max-entries {
	cursor: pointer;
	padding: 15px;
    min-height: 50px;
}

.toggle-max-entries:hover {
	text-decoration: inherit;
}

.tr-href {
	cursor: pointer;	
}
