.admin-body .row-panel {
	padding-top: 20px;
}

.navbar-static-top .dropdown {
	cursor: pointer;
}

.table.dataTable thead .sorting_desc:after, .table.dataTable thead .sorting_asc:after,
	.table.dataTable thead .sorting:after {
	content: "";
}

.admin-body .input-sm {
	width: auto !important;
}

.not-found-page {
	text-align: center;
}

.not-found-page .not-found-image {
	display: inline-block;
	max-height: 300px;
}
