.admin-body {
	padding-bottom: 40px !important;	
}

.admin-body .row-panel {
	padding-top: 20px;
}

.navbar-static-top .dropdown {
	cursor: pointer;
}

.table.dataTable thead .sorting_desc:after, .table.dataTable thead .sorting_asc:after,
	.table.dataTable thead .sorting:after {
	content: "";
}

.admin-body .input-sm[type=search] {
	width: auto !important;
}

.not-found-page {
	text-align: center;
}

.not-found-page .not-found-image {
	display: inline-block;
	max-height: 300px;
}

.dropdown-max-entries {
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	line-height: 25px;
	list-style: none;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 2px;
    padding-left: 10px;		
}

.dropdown-max-entries ul {
	text-align: center;
}

.max-entries {
	margin-right: 5px;
}

.toggle-max-entries {
	cursor: pointer;
	padding: 15px;
	min-height: 50px;
}

.toggle-max-entries:hover {
	text-decoration: inherit;
}

.tr-href, .tr-href-js {
	cursor: pointer;
}

.admin-new-category .field,
.admin-edit-category .field {
	margin-bottom: 10px;
}

.admin-new-category .btn-create-category,
.admin-edit-category .btn-update-category {
	float: right;
	margin-right: 10px;
}

.new-category, .new-product {
	cursor: pointer;
}

.form-logout {
	padding: 3px 20px;
}

.logout {
	background-color: white;
	border: none;
	color: #333;
	font-weight: 400;
	line-height: 1.42857143;
	padding-left: 0;
}

.error {
	color: red;
}

.user-chat-new-message {
	background: url(../images/red_circle.png) center right no-repeat;
	border-radius: 100%;
	float: right;
	height: 10px;
	margin-top: 7px;
	width: 10px;
}
