@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
.float_right{
	float: right;
}
.carousel-indicators li {
    background: #C4C4BE;
}
.carousel-indicators li.active {
    background: #FE980F;
}
.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}
.item h1 span {
    color: #FE980F;
}
.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}
.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.get {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}
.item button:hover {
    background: #FE980F;
}
.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}
.control-carousel:hover {
    color: #FE980F;
}
.right {
    right: 0;
}
.productinfo h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}
.productinfo img {
    width: 100%;
}
.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}
.productinfo {
    position: relative;
}
.recommended_items {
    overflow: hidden;
}
#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}
.recommended-item-control {
    position: absolute;
    top: 41%;
}
.recommended-item-control i {
    background: none repeat scroll 0 0 #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}
.recommended-item-control i:hover {
    background: #ccccc6;
}
.recommended_items h2 {} .our_partners {
    overflow: hidden;
}
.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}
.our_partners ul li a:hover {
    background: none;
}
/*************************
*******Shop CSS******
**************************/

#advertisement {
    padding-bottom: 45px;
}
#advertisement img {
    width: 100%;
}
