.carts .carts-left {
	background: #fff;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-left: 0px;
}

.carts .carts-right .total-money {
	font-size: 30px;
}

.carts-right .btn-order {
	width: 100%;
}

.carts-left .cart-left {
	padding-left: 0px;
}

.cart-product {
	border-bottom: 1px solid #e2e2e2;
	height: auto;
	padding: 5px;
	position: relative;
}

.cart-product .cart-close {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.cart-product .cart-select {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.cart-product .cart-left .cart-product-image {
	height: auto !important;
	display: inline-block;
}

.cart-product .cart-left .cart-product-image {
	display: inline-block;
	max-height: 140px;
}

.cart-product .cart-left .cart-product-image-panel {
	display: inline-block;
}

.cart-product .cart-product-info {
	display: inline-block;
}

.cart-right .cart-product-price {
	font-size: 30px;
	line-height: 75px;
	width: 150px;
}

.cart-right .cart-product-number {
	line-height: 40px;
}

.cart-right .cart-quantity-form {
	display: inline-block;
	font-size: 16px;
}

.cart-quantity-form .quantity-minus {
	float: left;
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #828282;
	font-size: 22px;
	background-color: #f8f8f8;
	border: solid 1px #dfdfdf;
}

.cart-quantity-form .quantity-plus {
	float: right;
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #828282;
	font-size: 22px;
	background-color: #f8f8f8;
	border: solid 1px #dfdfdf;
}

.cart-quantity-form .cart-quantity {
	width: 40px;
	height: 28px;
	text-align: center;
	font-size: 13px;
	color: #555;
	border: solid 1px #e0e0e0;
	border-left: none;
	border-right: none;
}

.carts .alert-warning {
	display: none;
}

.carts-load-more {
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
}

.carts-load-more .load-more {
	color: #FE980F;
}

.field {
	margin-bottom: 20px;
}

.btn-order, .btn-cancel-order {
	float: right;
	margin-right: 10px;
	margin-top: 0 !important;
}
