.header-logo {
	height: 39px;
	width: 139px;
}

.add-to-cart {
	width: 100%;
}

.product-image {
	height: 220px;
}

.footer {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.product-image-wrapper .product-name {
	color: #696763;
}

.item .product-name {
	color: #696763;
}

.alert-error {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.header {
	position: relative;
}

 .flash {
   position: absolute;
   top: 40px;
   right: 50px;
   width: auto;
   word-wrap: break-word;
   text-align: right;
   z-index: 11;
 }

 .pagination {
 	width: 100%;
 }
 
 .pagination .paginate-a {
 	cursor: pointer;
 }
 
 .header .sub-menu {
 	background-color: white;
 	width: 150px;
 }
 
 .header .sub-menu hr {
 	margin: 5px 0;
 }
 
.sub-menu-item:last-child {
 	padding-bottom: 10px !important;
 }
 
 .header .sub-menu .sub-menu-item {
 	display: block;
 }
 
  .header .sub-menu .sub-menu-item a {
  	color: inherit;
  	background-color: inherit;
  }
