.header-logo {
	height: 39px;
	width: 139px;
}

.add-to-cart {
	width: 100%;
}

.product-image {
	height: 220px;
}

.footer {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.product-image-wrapper .product-name {
	color: #696763;
}

.item .product-name {
	color: #696763;
}

.alert-error {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.header {
	position: relative;
}

.flash {
	position: absolute;
	top: 40px;
	right: 50px;
	width: auto;
	word-wrap: break-word;
	text-align: right;
	z-index: 11;
}

.pagination {
	width: 100%;
}

.pagination .paginate-a {
	cursor: pointer;
}

.header .sub-menu {
	background-color: white;
	width: 150px;
}

.header .sub-menu hr {
	margin: 5px 0;
}

.sub-menu-item:last-child {
	padding-bottom: 10px !important;
}

.header .sub-menu .sub-menu-item {
	display: block;
}

.header .sub-menu .sub-menu-item a {
	color: inherit;
	background-color: inherit;
}

.single-products .product-avatar {
	padding: 1px;
	position: relative;
}

.product-avatar .product-sale {
	position: absolute;
	top: 0;
	right: 0;
}

.product-stock {
	border: 1px solid #FE980F;
	color: #FE980F;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.product-stock .stock {
	font-weight: bold;
}

.product-stock .out-stock {
	color: red;
	font-weight: bold;
}

.not-found-page {
	text-align: center;
}

.not-found-page .not-found-image {
	display: inline-block;
	max-height: 300px;
}

.header-middle .item-cart, .header-middle .item-notification {
	position: relative;
}

.item-cart .cart-size, .item-notification .notification-size {
	position: absolute;
	top: -10px;
	right: -5px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	display: inline-block;
	background: #f5a623;
	border-radius: 100%;
}

.header-middle .item-order {
	position: relative;
}

.item-order .order-size {
	position: absolute;
	top: -10px;
	right: -5px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	display: inline-block;
	background: #f5a623;
	border-radius: 100%;
}

.logout {
	background-color: white;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.error {
	color: red;
}

.notification-dropdown {
	position: relative;
}

.notifications-body {
	border: 1px solid rgba(100, 100, 100, .4);
	border-radius: 0 0 2px 2px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	color: #1d2129;
	min-width: 200px;
	width: auto;
}

.notifications-body {
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	left: 0;
	list-style: none;
	margin: 0;
	max-height: 500px;
	overflow-x: auto;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 400px;
	z-index: 99;
}

.notifications-body .notification {
	border-bottom: 1px solid #dddfe2;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.notification .notification-time {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.unwatched {
	background-color: #f9f9f9;
}

.unwatched .notification-content {
	background-color: #f9f9f9;
}

.girl {
	max-height: 250px;
}

.tr-href {
	cursor: pointer;
}

.chat-panel {
	display: none;
	margin-bottom: 0;
}

.buttom-up, .buttom-down {
	bottom: 5px;
}

.input-chat {
	width: 100% !important;
}

.chat {
	margin: 0;
	padding: 0 !important;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.chat-div {
	position: fixed;
	bottom: 0;
	right: 45px;
	z-index: 100;
}

.panel-default {
	cursor: pointer;
}

.img-circle {
	height: 50px;
	width: 50px;
}

.chat-content {
	word-wrap: break-word;
}

.user-chat-new-message {
	background: url(../images/default/red_circle.png) center right no-repeat;
	border-radius: 100%;
	float: right;
	height: 10px;
	margin-top: 7px;
	margin-right: 15px;
	width: 10px;
}

input[type="search"].input-sm {
	width: auto !important;
}

.btn-cart {
	float: right;
	margin-right: 10px;
}

.global-search {
	margin-bottom: 15px;
}

.global-search-input {
	background: url(../images/default/searchicon.png) 5px no-repeat #F0F0E9
		!important;
	color: black !important;
	padding-left: 30px !important;
	width: 100% !important;
}

.item .category-name a {
	color: #696763;
}

.category {
	padding: 5px;
}

.tab-pane {
	margin-top: 10px;
}

.notification-title {
	padding-top: 4px;
	width: 100%;
}

.notification-title .title {
	float: left;
}

.notification-title .mark {
	cursor: pointer;
	float: right;
}

.sub-item-icon {
	display: inline;
	float: left;
}

.sub-item-order-icon {
	height: 50px;
	width: 50px;
}

.sub-item-content {
	display: inline;
}

.see-all {
	padding: 5px;
	padding-bottom: 10px;
	width: 100%;
}

.see-all a {
	display: block;
	text-align: center;
}

.notification {
	border-bottom: 1px solid rgb(204, 204, 204);
}

.notifications {
	margin-bottom: 20px;
}
