.header-logo {
	height: 39px;
	width: 139px;
}

.add-to-cart {
	width: 100%;
}

.product-image {
	height: 220px;
}

.footer {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.product-image-wrapper .product-name {
	color: #696763;
}

.item .product-name {
	color: #696763;
}

.alert-error {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.header {
	position: relative;
}

.flash {
	position: absolute;
	top: 40px;
	right: 50px;
	width: auto;
	word-wrap: break-word;
	text-align: right;
	z-index: 11;
}

.pagination {
	width: 100%;
}

.pagination .paginate-a {
	cursor: pointer;
}

.header .sub-menu {
	background-color: white;
	width: 150px;
}

.header .sub-menu hr {
	margin: 5px 0;
}

.sub-menu-item:last-child {
	padding-bottom: 10px !important;
}

.header .sub-menu .sub-menu-item {
	display: block;
}

.header .sub-menu .sub-menu-item a {
	color: inherit;
	background-color: inherit;
}

.single-products .product-avatar {
	padding: 1px;
	position: relative;
}

.product-avatar .product-sale {
	position: absolute;
	top: 0;
	right: 0;
}

.product-stock {
	border: 1px solid #FE980F;
	color: #FE980F;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.product-stock .stock {
	font-weight: bold;
}

.product-stock .out-stock {
	color: red;
	font-weight: bold;
}

.not-found-page {
	text-align: center;
}

.not-found-page .not-found-image {
	display: inline-block;
	max-height: 300px;
}

.header-middle .item-cart {
	position: relative;
}

.item-cart .cart-size {
	position: absolute;
	top: -10px;
	right: -5px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	display: inline-block;
	background: #f5a623;
	border-radius: 100%;
}

.header-middle .item-order {
	position: relative;
}

.item-order .order-size {
	position: absolute;
	top: -10px;
	right: -5px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 11px;
	color: #fff;
	display: inline-block;
	background: #f5a623;
	border-radius: 100%;
}

.logout {
	background-color: white;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
