.header-logo {
	height: 39px;
	width: 139px;
}

.add-to-cart {
	width: 100%;
}

.product-image {
	height: 220px;
}

.footer {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.product-image-wrapper .product-name {
	color: #696763;
}

.item .product-name {
	color: #696763;
}

.alert-error {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.header {
	position: relative;
}

 .flash {
   position: absolute;
   top: 40px;
   right: 50px;
   width: auto;
   word-wrap: break-word;
   text-align: right;
   z-index: 11;
 }
