.product {
	border: 1px solid #e7e7e7;
	padding: 10px;
}

.product-header {
	margin-bottom: 10px;
}

.product-header-left .product-name {
	color: #3d3d3d;
	font-size: 24px;
}

.product-header .product-rate .active {
	color: #f5b70ce6
}

.product-body {
	border-top: 1px solid #e7e7e7;
	margin-bottom: 10px;
	padding: 10px 0;
}

.product-body .product-price {
	font-size: 26px;
	font-weight: bold;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.product-body .product-category .category-title {
	font-size: 16px;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.product-body .product-number .number-title {
	font-size: 16px;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.product-body .product-promotion .promotion-title {
	font-size: 20px;
	font-weight: bold;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.product-body .product-promotion .promotion {
	font-size: 20px;
	font-weight: bold;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.product-body-right .product-information {
	padding: 10px;
}

.product-footer {
	border-top: 1px solid #e7e7e7;
}

.products .categories {
	max-height: 400px;
	height: auto;
	overflow-x: auto;
}

.products-left .btn-filter {
	width: 100%;
}

.products-left .name-range-input, .products-left .name-category {
	border: 1px solid #ccc;
	color: #696763;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 40px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

.products-left .price-range .price {
	background-color: #FFFFFF;
	border: 1px solid #F7F7F0;
	padding: 20px 10px;
}

.products-left .price-range .price-range-input {
	width: 90%;
}

.categories .active {
	background-color: #fdb45e !important;
}