.rate-product .rate-form {
	display: none;
}

.rate-save, .rate-cancel  {
	display: inline-block; 
	margin-top: 0 !important;
}

.star-large {
	cursor: pointer;
	font-size: 25px;
}

.rating {
	margin-bottom: 10px;
}
