.suggest-paginate {
	margin-top: 20px;
}

.suggest-header .btn-create-suggest {
	display: -webkit-inline-box;
}

.btn-create-suggest .fa-plus {
	margin-right: 5px;
}

.suggest-form .field {
	margin-bottom: 20px;
}

.suggest-form .field .avatar {
	display: inline-block;
}

.suggests-table .suggest-avatar {
	max-height: 200px;
}

.status-WAITING {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.status-ACCEPT {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.status-REJECT {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.status-CANCEL {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.suggests-table .suggest-status {
	border: 1px solid #F7F7F0;	
	border-radius: 2px;	
	padding: 5px;
}

.btn-suggest {
	margin-bottom: 10px;
	margin-top: 0 !important;
	width: 100%;
}
