.user {
	border: 1px solid #F7F7F0;
	padding: 10px 40px;
}

.user .user-right {
	border-left: 1px solid #F7F7F0;
}

.user .user-avatar .avatar {
	height: 150px;
	width: 150px;
}

.user .field {
	margin-bottom: 20px;
}

.field .user-save {
	float: right;
}

.user .upload-avatar {
	cursor: pointer;
	position: relative;
}

.user .edit-avatar {
	background: linear-gradient(transparent, rgba(0, 0, 0, .6) 50%,
		rgba(0, 0, 0, .6) 100%);
	color: white;
	display: none;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.edit-avatar .content {
	line-height: 150px;
	vertical-align: middle;
}
