<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

  <bean id="CartDAO" class="com.framgia.dao.impl.CartDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="CategoryDAO" class="com.framgia.dao.impl.CategoryDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="CommentDAO" class="com.framgia.dao.impl.CommentDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="ImageDAO" class="com.framgia.dao.impl.ImageDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="NotificationDAO" class="com.framgia.dao.impl.NotificationDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="OrderDAO" class="com.framgia.dao.impl.OrderDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="OrderProductDAO" class="com.framgia.dao.impl.OrderProductDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="ProductDAO" class="com.framgia.dao.impl.ProductDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="ProfileDAO" class="com.framgia.dao.impl.ProfileDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="PromotionDAO" class="com.framgia.dao.impl.PromotionDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="RateDAO" class="com.framgia.dao.impl.RateDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="RecentDAO" class="com.framgia.dao.impl.RecentDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="SuggestDAO" class="com.framgia.dao.impl.SuggestDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <bean id="UserDAO" class="com.framgia.dao.impl.UserDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>
</beans>
