<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE tiles-definitions PUBLIC
  "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" 
  "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>
  <!-- Define Struts Tile for Front-End module -->
  <definition name="baselayout" template="/views/layouts/template.jsp">

    <!-- Set header, footer, body -->
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="header" value="/views/layouts/header.jsp" />
    <put-attribute name="body" value="/views/layouts/body.jsp" />
    <put-attribute name="footer" value="/views/layouts/footer.jsp" />

    <!-- import css -->
    <put-list-attribute name="default-css">
      <add-attribute value="/assets/lib-css/animate.css" />
      <add-attribute value="/assets/lib-css/bootstrap.min.css" />
      <add-attribute value="/assets/lib-css/font-awesome.min.css" />
      <add-attribute value="/assets/lib-css/main.css" />
      <add-attribute value="/assets/lib-css/prettyPhoto.css" />
      <add-attribute value="/assets/lib-css/price-range.css" />
      <add-attribute value="/assets/lib-css/responsive.css" />
      <add-attribute value="/assets/css/page.css" />
    </put-list-attribute>

    <!-- import js -->
    <put-list-attribute name="default-js">
      <add-attribute value="/assets/lib-js/jquery.js" />
      <add-attribute value="/assets/lib-js/bootstrap.min.js" />
      <add-attribute value="/assets/lib-js/jquery.scrollUp.min.js" />
      <add-attribute value="/assets/lib-js/price-range.js" />
      <add-attribute value="/assets/lib-js/jquery.prettyPhoto.js" />
      <add-attribute value="/assets/lib-js/main.js" />
      <add-attribute value="/assets/js/page.js" />
    </put-list-attribute>

    <put-list-attribute name="css" />
    <put-list-attribute name="js" />
  </definition>

  <definition name="homePage" extends="baselayout">
    <put-attribute name="title" value="HomePage | Ecommerce" />
    <put-attribute name="body" value="/views/pages/index.jsp" />
  </definition>

  <definition name="login" extends="baselayout">
    <put-attribute name="title" value="Login | Ecommerce" />
    <put-attribute name="body" value="/views/sessions/new.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/login.css" />
    </put-list-attribute>
  </definition>

  <definition name="signup" extends="baselayout">
    <put-attribute name="title" value="Signup | Ecommerce" />
    <put-attribute name="body" value="/views/registrations/new.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/signup.css" />
    </put-list-attribute>
  </definition>

  <definition name="carts" extends="baselayout">
    <put-attribute name="title" value="Your carts | Ecommerce" />
    <put-attribute name="body" value="/views/carts/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/cart.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/cart.js" />
    </put-list-attribute>
  </definition>

  <definition name="orders" extends="baselayout">
    <put-attribute name="title" value="Your orders | Ecommerce" />
    <put-attribute name="body" value="/views/orders/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="order" extends="baselayout">
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="body" value="/views/orders/show.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="products" extends="baselayout">
    <put-attribute name="title" value="Products | Ecommerce" />
    <put-attribute name="body" value="productIndex" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="productIndex" template="/views/products/index_template.jsp">
    <put-attribute name="products" value="productsPartial" />
  </definition>

  <definition name="productsPartial" template="/views/products/index.jsp" />

  <definition name="product" extends="baselayout">
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="body" value="/views/products/show.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/fb.js" />
    </put-list-attribute>
  </definition>

  <definition name="suggests" extends="baselayout">
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="body" value="/views/suggests/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/suggest.css" />
    </put-list-attribute>
  </definition>

  <definition name="suggestNew" extends="baselayout">
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="body" value="/views/suggests/new.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/suggest.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/suggest.js" />
    </put-list-attribute>
  </definition>

  <!-- ADMIN -->
  <definition name="adminBaseLayout" template="/views/admin/layouts/template.jsp">

    <!-- Set header, footer, body -->
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="header" value="/views/admin/layouts/header.jsp" />
    <put-attribute name="body" value="/views/admin/layouts/body.jsp" />

    <!-- import css -->
    <put-list-attribute name="default-css">
      <add-attribute value="/assets/admin/lib-css/bootstrap.min.css" />
      <add-attribute value="/assets/admin/lib-css/metisMenu.min.css" />
      <add-attribute value="/assets/admin/lib-css/sb-admin-2.css" />
      <add-attribute value="/assets/admin/lib-css/font-awesome.min.css" />
      <add-attribute value="/assets/admin/css/page.css" />
      <add-attribute value="/assets/admin/lib-css/dataTables.bootstrap.css" />
      <add-attribute value="/assets/admin/lib-css/dataTables.responsive.css" />
    </put-list-attribute>

    <!-- import js -->
    <put-list-attribute name="default-js">
      <add-attribute value="/assets/admin/lib-js/jquery.min.js" />
      <add-attribute value="/assets/admin/lib-js/bootstrap.min.js" />
      <add-attribute value="/assets/admin/lib-js/metisMenu.min.js" />
      <add-attribute value="/assets/admin/lib-js/raphael.min.js" />
      <add-attribute value="/assets/admin/lib-js/sb-admin-2.min.js" />
      <add-attribute value="/assets/admin/lib-js/jquery.dataTables.min.js" />
      <add-attribute value="/assets/admin/lib-js/dataTables.bootstrap.min.js" />
      <add-attribute value="/assets/admin/lib-js/dataTables.responsive.js" />
      <add-attribute value="/assets/admin/js/datatable.js" />
    </put-list-attribute>

    <put-list-attribute name="css" />
    <put-list-attribute name="js" />
  </definition>

  <definition name="adminHomePage" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/pages/index.jsp" />
    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/lib-js/morris.min.js" />
      <add-attribute value="/assets/admin/lib-js/morris-data.js" />
    </put-list-attribute>

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/lib-css/morris.css" />
    </put-list-attribute>
  </definition>

  <definition name="adminOrders" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/orders/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminOrder" template="/views/admin/orders/show.jsp" />
</tiles-definitions>
