<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

  <bean id="CartService" parent="transactionProxyTemplate">
    <property name="target">
      <bean class="com.framgia.service.impl.CartServiceImpl">
        <property name="cartDAO" ref="CartDAO"></property>
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
      </bean>
    </property>
  </bean>

  <bean id="CategoryService" parent="transactionProxyTemplate">
    <property name="target">
      <bean class="com.framgia.service.impl.CategoryServiceImpl">
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
        <property name="categoryDAO" ref="CategoryDAO"></property>
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
      </bean>
    </property>
  </bean>

<!--   <bean id="CommentService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.CommentServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

<!--   <bean id="ImageService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.ImageServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

<!--   <bean id="OrderProductService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.OrderProductServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

<!--   <bean id="OrderService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.OrderServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

  <bean id="ProductService" parent="transactionProxyTemplate">
    <property name="target">
      <bean class="com.framgia.service.impl.ProductServiceImpl">
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
        <property name="productDAO" ref="ProductDAO"></property>
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
      </bean>
    </property>
  </bean>

<!--   <bean id="ProfileService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.ProfileServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

<!--   <bean id="PromotionService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.PromotionServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

<!--   <bean id="RecentService" parent="transactionProxyTemplate"> -->
<!--     <property name="target"> -->
<!--       <bean class="com.framgia.service.impl.RecentServiceImpl"> -->
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
<!--         <property name="userDAO" ref="UserDAO"></property> -->
<!--       </bean> -->
<!--     </property> -->
<!--   </bean> -->

  <bean id="UserService" parent="transactionProxyTemplate">
    <property name="target">
      <bean class="com.framgia.service.impl.UserServiceImpl">
<!--         <property name="cartDAO" ref="CartDAO"></property> -->
<!--         <property name="categoryDAO" ref="CategoryDAO"></property> -->
<!--         <property name="commentDAO" ref="CommentDAO"></property> -->
<!--         <property name="imageDAO" ref="ImageDAO"></property> -->
<!--         <property name="orderDAO" ref="OrderDAO"></property> -->
<!--         <property name="orderProductDAO" ref="OrderProductDAO"></property> -->
<!--         <property name="productDAO" ref="ProductDAO"></property> -->
<!--         <property name="profileDAO" ref="ProfileDAO"></property> -->
<!--         <property name="promotionDAO" ref="PromotionDAO"></property> -->
<!--         <property name="recentDAO" ref="RecentDAO"></property> -->
        <property name="userDAO" ref="UserDAO"></property>
      </bean>
    </property>
  </bean>
</beans>
