<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE tiles-definitions PUBLIC
  "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" 
  "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>
  <!-- Define Struts Tile for Front-End module -->
  <definition name="baselayout" template="/views/layouts/template.jsp">

    <!-- Set header, footer, body -->
    <put-attribute name="title" value="Ecommerce" />
    <put-attribute name="header" value="/views/layouts/header.jsp" />
    <put-attribute name="body" value="/views/layouts/body.jsp" />
    <put-attribute name="footer" value="/views/layouts/footer.jsp" />

    <!-- import css -->
    <put-list-attribute name="default-css">
      <add-attribute value="/assets/lib-css/animate.min.css" />
      <add-attribute value="/assets/lib-css/bootstrap.min.css" />
      <add-attribute value="/assets/lib-css/font-awesome.min.css" />
      <add-attribute value="/assets/lib-css/main.min.css" />
      <add-attribute value="/assets/lib-css/prettyPhoto.min.css" />
      <add-attribute value="/assets/lib-css/price-range.min.css" />
      <add-attribute value="/assets/lib-css/responsive.min.css" />
      <add-attribute value="/assets/css/page.css" />
    </put-list-attribute>

    <!-- import js -->
    <put-list-attribute name="default-js">
      <add-attribute value="/assets/lib-js/jquery.min.js" />
      <add-attribute value="/assets/lib-js/bootstrap.min.js" />
      <add-attribute value="/assets/lib-js/jquery.scrollUp.min.js" />
      <add-attribute value="/assets/lib-js/price-range.min.js" />
      <add-attribute value="/assets/lib-js/jquery.prettyPhoto.min.js" />
      <add-attribute value="/assets/lib-js/main.min.js" />
      <add-attribute value="/assets/lib-js/sockjs.min.js" />
      <add-attribute value="/assets/lib-js/stomp.min.js" />
      <add-attribute value="/assets/lib-js/jquery.timeago.min.js" />
      <add-attribute value="/assets/lib-js/jquery.zoom.min.js" />
      <add-attribute value="/assets/js/page.js" />
      <add-attribute value="/assets/js/socket.js" />
    </put-list-attribute>

    <put-list-attribute name="css" />
    <put-list-attribute name="js" />
  </definition>

  <definition name="404" extends="baselayout">
    <put-attribute name="title" value="Not Found | Ecommerce" />
    <put-attribute name="body" value="/views/shared/404.jsp" />
  </definition>

  <definition name="inputError" template="/views/shared/input_error.jsp" />

  <definition name="redirect" template="/views/shared/redirect.jsp" />

  <definition name="homePage" extends="baselayout">
    <put-attribute name="title" value="HomePage | Ecommerce" />
    <put-attribute name="body" value="/views/pages/index.jsp" />
  </definition>

  <definition name="login" extends="baselayout">
    <put-attribute name="title" value="Login | Ecommerce" />
    <put-attribute name="body" value="/views/sessions/new.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/css/login.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/fb.js" />
    </put-list-attribute>
  </definition>

  <definition name="signup" extends="baselayout">
    <put-attribute name="title" value="Signup | Ecommerce" />
    <put-attribute name="body" value="/views/registrations/new.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/css/signup.css" />
    </put-list-attribute>
  </definition>

  <definition name="carts" extends="baselayout">
    <put-attribute name="title" value="Your carts | Ecommerce" />
    <put-attribute name="body" value="/views/carts/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/cart.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/cart.js" />
    </put-list-attribute>
  </definition>

  <definition name="cartsPartial" template="/views/carts/index_partial.jsp" />

  <definition name="orders" extends="baselayout">
    <put-attribute name="title" value="Your orders | Ecommerce" />
    <put-attribute name="body" value="/views/orders/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/lib-css/dataTables.bootstrap.min.css" />
      <add-attribute value="/assets/lib-css/dataTables.responsive.min.css" />
      <add-attribute value="/assets/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/lib-js/jquery.dataTables.min.js" />
      <add-attribute value="/assets/lib-js/dataTables.bootstrap.min.js" />
      <add-attribute value="/assets/lib-js/dataTables.responsive.min.js" />
      <add-attribute value="/assets/js/datatable.js" />
      <add-attribute value="/assets/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="order" extends="baselayout">
    <put-attribute name="title" value="Order | Ecommerce" />
    <put-attribute name="body" value="/views/orders/show.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="editOrder" extends="baselayout">
    <put-attribute name="title" value="Edit order | Ecommerce" />
    <put-attribute name="body" value="/views/orders/edit.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="products" extends="baselayout">
    <put-attribute name="title" value="Products | Ecommerce" />
    <put-attribute name="body" value="productIndex" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="productIndex" template="/views/products/index_template.jsp">
    <put-attribute name="products" value="productsPartial" />
  </definition>

  <definition name="productsPartial" template="/views/products/index.jsp" />

  <definition name="product" extends="baselayout">
    <put-attribute name="title" value="Product | Ecommerce" />
    <put-attribute name="body" value="/views/products/show.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/fb.js" />
      <add-attribute value="/assets/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="suggests" extends="baselayout">
    <put-attribute name="title" value="Your suggests | Ecommerce" />
    <put-attribute name="body" value="/views/suggests/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/lib-css/dataTables.bootstrap.min.css" />
      <add-attribute value="/assets/lib-css/dataTables.responsive.min.css" />
      <add-attribute value="/assets/css/suggest.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/lib-js/jquery.dataTables.min.js" />
      <add-attribute value="/assets/lib-js/dataTables.bootstrap.min.js" />
      <add-attribute value="/assets/lib-js/dataTables.responsive.min.js" />
      <add-attribute value="/assets/js/datatable.js" />
    </put-list-attribute>
  </definition>

  <definition name="newSuggest" extends="baselayout">
    <put-attribute name="title" value="New suggest | Ecommerce" />
    <put-attribute name="body" value="/views/suggests/new.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/suggest.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/suggest.js" />
    </put-list-attribute>
  </definition>

  <definition name="editSuggest" extends="baselayout">
    <put-attribute name="title" value="Edit suggest | Ecommerce" />
    <put-attribute name="body" value="/views/suggests/edit.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/suggest.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/suggest.js" />
    </put-list-attribute>
  </definition>

  <definition name="user" extends="baselayout">
    <put-attribute name="title" value="User | Ecommerce" />
    <put-attribute name="body" value="/views/users/show.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/css/user.css" />
      <add-attribute value="/assets/lib-css/jquery-ui.min.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/js/user.js" />
      <add-attribute value="/assets/lib-js/jquery-ui.min.js" />
    </put-list-attribute>
  </definition>

  <!-- ADMIN -->
  <definition name="adminBaseLayout" template="/views/admin/layouts/template.jsp">

    <!-- Set header, footer, body -->
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="header" value="/views/admin/layouts/header.jsp" />
    <put-attribute name="body" value="/views/admin/layouts/body.jsp" />

    <!-- import css -->
    <put-list-attribute name="default-css">
      <add-attribute value="/assets/admin/lib-css/bootstrap.min.css" />
      <add-attribute value="/assets/admin/lib-css/metisMenu.min.css" />
      <add-attribute value="/assets/admin/lib-css/sb-admin-2.min.css" />
      <add-attribute value="/assets/admin/lib-css/font-awesome.min.css" />
      <add-attribute value="/assets/admin/lib-css/dataTables.bootstrap.min.css" />
      <add-attribute value="/assets/admin/lib-css/dataTables.responsive.min.css" />
      <add-attribute value="/assets/admin/lib-css/main.min.css" />
      <add-attribute value="/assets/admin/css/page.css" />
    </put-list-attribute>

    <!-- import js -->
    <put-list-attribute name="default-js">
      <add-attribute value="/assets/admin/lib-js/jquery.min.js" />
      <add-attribute value="/assets/admin/lib-js/bootstrap.min.js" />
      <add-attribute value="/assets/admin/lib-js/metisMenu.min.js" />
      <add-attribute value="/assets/admin/lib-js/raphael.min.js" />
      <add-attribute value="/assets/admin/lib-js/sb-admin-2.min.js" />
      <add-attribute value="/assets/admin/lib-js/jquery.dataTables.min.js" />
      <add-attribute value="/assets/admin/lib-js/dataTables.bootstrap.min.js" />
      <add-attribute value="/assets/admin/lib-js/dataTables.responsive.min.js" />
      <add-attribute value="/assets/admin/lib-js/jquery.timeago.min.js" />
      <add-attribute value="/assets/admin/lib-js/sockjs.min.js" />
      <add-attribute value="/assets/admin/lib-js/stomp.min.js" />
      <add-attribute value="/assets/admin/js/page.js" />
      <add-attribute value="/assets/admin/js/datatable.js" />
      <add-attribute value="/assets/admin/js/socket.js" />
    </put-list-attribute>

    <put-list-attribute name="css" />
    <put-list-attribute name="js" />
  </definition>

  <definition name="admin404" extends="adminBaseLayout">
    <put-attribute name="title" value="Not Found | Ecommerce" />
    <put-attribute name="body" value="/views/shared/404.jsp" />
  </definition>

  <definition name="adminHomePage" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/pages/index.jsp" />
    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/lib-js/morris.min.js" />
      <add-attribute value="/assets/admin/js/morris-data.js" />
    </put-list-attribute>

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/lib-css/morris.min.css" />
    </put-list-attribute>
  </definition>

  <definition name="adminOrders" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/orders/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/order.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/order.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminOrder" template="/views/admin/orders/show.jsp" />

  <definition name="adminSuggests" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/suggests/index.jsp" />
    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/suggest.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/suggest.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminSuggest" template="/views/admin/suggests/show.jsp" />

  <definition name="adminUsers" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/users/index.jsp" />
  </definition>

  <definition name="adminCategories" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/categories/index.jsp" />
  </definition>

  <definition name="adminCategory" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/categories/show.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/product.css" />
      <add-attribute value="/assets/admin/css/category.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/category.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminNewCategory" template="/views/admin/categories/new.jsp" />

  <definition name="adminEditCategory" template="/views/admin/categories/edit.jsp" />

  <definition name="adminProducts" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/products/index.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/product.css" />
    </put-list-attribute>
  </definition>

  <definition name="adminProduct" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/products/show.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/lib-js/jquery.zoom.min.js" />
      <add-attribute value="/assets/admin/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminNewProduct" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/products/new.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminEditProduct" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/products/edit.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/product.css" />
    </put-list-attribute>

    <put-list-attribute name="js">
      <add-attribute value="/assets/admin/js/product.js" />
    </put-list-attribute>
  </definition>

  <definition name="adminChats" extends="adminBaseLayout">
    <put-attribute name="title" value="Admin | Ecommerce" />
    <put-attribute name="body" value="/views/admin/chats/index.jsp" />

    <put-list-attribute name="css">
      <add-attribute value="/assets/admin/css/chat.css" />
    </put-list-attribute>
  </definition>
</tiles-definitions>
